<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOGSTASH_HOST" value="${LOGSTASH_HOST:-${DOCKER_HOST:-192.168.244.137}}"/>
    <property name="LOGSTASH_PORT" value="${LOGSTASH_PORT:-5000}"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"myapp"}</customFields>
        </encoder>
    </appender>


    <springProfile name="default,dev,test">>
        <logger name="io.vickze" level="DEBUG">
            <appender-ref ref="LOGSTASH"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <logger name="io.vickze" level="ERROR">
            <appender-ref ref="LOGSTASH"/>
        </logger>
    </springProfile>
</configuration>